node_modules/
.swagger-codegen/

# The file storing the prepared queries is generated automatically when the server starts.
db/prepared-sql.js

# Never track local configuration files
config/local-*.*
